%trd
	transition: .35s ease
body
	font-size: 16px

.section
	+w(1170px)

.head
	&-button
		@extend %trd
		&:hover
			background-color: $orange
			color: $white

.title
	font-size: 50px
.subtitle
	font-size: 32px
	font-weight: 700
.button
	border: 1px solid $orange
	&,&-reverse
		@extend %trd
	&:hover
		background-color: transparent
		color: $orange
	&-reverse
		&:hover
			background-color: $orange
			color: #fff
.link
	position: relative
	&:after
		@extend %trd
		+af
		+wh(0,2px)
		background-color: #4F4D8E
		position: absolute
		left: 50%
		bottom: 0
	&-blue:after
		background-color: #2778E9
	&:hover
		&:after
			width: 100%
			left: 0



.welcome
	&-img
		transform: translate(-80px,124px)

.fb
	margin-top: 66px
	padding-top: 55px
	&-img
		margin-left: 241px
.fb,.welcome
	&-inner
		.text
			margin-top: 25px
.bread-crumbs
	a
		@extend %trd
		&:hover
			opacity: 1

.we
	.row
		justify-content: flex-start
	&-left
		margin-right: 175px
		.text
			margin-top: 30px
	&-img
		margin-top: 70px
		margin-bottom: 10px
	&-item
		span:last-child
			margin-top: 18px

.why
	padding-top: 110px
	background-position: 110% 47%
	&-list
		width: 963px
		margin: 0 auto
		justify-content: flex-start
	&-item
		&:nth-child(1)
			margin-right: 215px
		&:nth-child(2)
			flex: 0 0 366px
		&:nth-child(3)
			flex: 0 0 399px
			margin-right: 152px
		&:nth-child(4)
			flex: 0 0 407px

.cust
	padding-top: 110px
	&-list
		padding-top: 70px

.how
	margin-top: -100px
	background-size: initial
	&-list
		justify-content: space-between
	&-item
		width: calc((100% - 80px) / 3)
		margin-bottom: 30px
		&-title,.text
			left: 104px
		.text
			width: 219px

.our
	padding-bottom: 50px
	&-map
		margin-top: 100px

.trust
	background-position: 0 44%

.together
	&-left
		padding-top: 50px
		.text
			margin: 15px 0 35px

.power
	padding: 80px 0 100px
	.text
		margin: 9px 0 34px
	img
		margin-left: 163px

.who
	padding: 98px 0 92px
	.subtitle
		margin-bottom: 9px
	.text
		line-height: 2

.pluses
	padding: 120px 0 118px
	.row
		&:first-child
			margin-bottom: 138px
	.col
		&:first-child
			flex-basis: 528px
		&:last-child
			flex-basis: 562px
	.subtitle
		margin-bottom: 9px
	.text:last-child
		margin-top: 20px

.checkbox-btn
	span
		&:last-child
			position: relative
			&:after
				@extend %trd
				+af
				+wh(0,2px)
				background-color: $blue-dark
				position: absolute
				left: 50%
				bottom: 5px
	&:hover
		span
			&:last-child
				&:after
					width: 100%
					left: 0
.locations
	padding: 60px 0 120px
	.middle
		margin: 0 70px 0 60px
	&-item
		margin-top: 60px
.more
	@extend %trd
	&:hover
		background-color: $blue-dark
		color: $white
.cloud
	&-items
		padding-top: 100px
		padding-bottom: 115px
.contact
	&-inner
		padding-top: 120px
	.right
		margin-left: 138px
		padding: 76px 75px 67px
	.form
		width: 600px
		.row
			.form-block
				width: calc(50% - 20px)
.form
	&-block
		input,textarea
			font-size: 18px
.foot
	&-section
		&>.col
			&:nth-child(2),&:nth-child(3)
				margin-top: -5px
	&-copy
		width: initial


.steps
	padding: 112px 0 80px
	&-list
		margin-top: 40px
	&-text
		width: calc(100% - 88px)


.audit
	padding-bottom: 104px
	&-list
		margin-top: 80px
	&-inner
		.button-reverse
			margin-top: 50px


.guarant
	padding-bottom: 112px
	&-list
		margin-top: 73px
		justify-content: space-between
	&-item
		padding: 0
	&-text
		width: 228px


.serv
	padding-bottom: 120px

.cases
	padding-bottom: 129px
	&-list
		padding-top: 82px
	&-item
		flex-basis: calc(100% / 6)
		margin-bottom: 0
	&-text
		padding-top: 49px


.diagram
	+wh(150px)
	&-inner
		font-size: 32px
.hold
	clip: rect(0,150px,150px,75px)
.pie
	clip: rect(0,75px,150px,0)

.review
	padding-bottom: 112px
	.slider
		margin-top: 73px
		box-shadow: 0 4px 35px rgba(0, 0, 0, 0.1)
	.slide
		padding: 71px 125px 92px



