.section
	+w(720px)
	margin: 0 auto
	padding: 0

.head
	&-section
		justify-content: flex-start
	&,&.active
		height: initial
	&-logo
		margin-right: auto
	&-burger
		display: none
	&-nav
		width: initial
		margin: 0 30px 0 0
		flex-direction: row
		.link
			margin-right: 30px
			padding: 0
			font-size: 16px
			&:last-child
				margin-right: 0
	&-button
		margin: 0

.row
	display: flex
	align-items: center
	justify-content: space-between
.welcome
	padding-top: 0
	padding-bottom: 80px
	&-section
		height: initial
		justify-content: space-between
	&-inner
		width: 48%
		.text
			max-width: 325px
	&-img
		width: 40%
		transform: translateY(80px)
		filter: none
		opacity: 1
		position: static

.fb
	padding: 100px 0 92px
	.section
		height: initial

.fb,.welcome
	&-inner
		.text
			margin: 20px 0 36px

.bread-crumbs
	margin-bottom: 20px
.we
	.row
		align-items: flex-end
	&-left
		width: 450px
	&-item
		padding-top: 80px
		&:first-child
			padding-top: 0
		strong
			font-size: 70px
			
.why
	.subtitle
		width: initial
	&-list
		padding-top: 100px
		flex-wrap: wrap
		justify-content: space-around
	&-item
		flex: 0 0 338px
		&:nth-child(3),&:nth-child(4)
			padding-bottom: 0
		&-title
			font-size: 24px

.cust
	padding-bottom: 150px
	background-image: url(img/customer-bgc.svg)
	background-repeat: no-repeat
	&-list
		align-items: flex-start
		justify-content: center
		flex-wrap: wrap
	&-item
		width: 50%
		&:nth-child(3),&:nth-child(5)
			span
				width: 156px
		&:nth-child(6),&:last-child
			span
				width: 190px
		&:nth-child(7)
			margin-bottom: 0
	&-img
		height: 100px
		display: flex
		align-items: center

.how
	margin-top: -50px
	padding-bottom: 100px
	background-image: url(img/how-bgc.svg)
	background-size: 280%
	background-repeat: no-repeat
	.subtitle
		color: $white
	&-list
		width: 100%
		flex-wrap: wrap
	&-item
		width: 50%
		margin-bottom: 20px
		&-number
			top: 12px
			left: 45px
		&-title,.text
			left: 104px
		&-title
			top: 73px
		.text
			top: 125px

.our
	padding-bottom: 100px
	&-map
		+dfc
		margin-top: 50px
		&>img
			max-width: 70%
	&-place
		padding-top: 0
		display: flex
		align-items: center
		justify-content: center
		position: absolute
		img
			display: block
		&-inner
			background-color: transparent
			position: absolute
			&,.text
				color: $white
		img
			max-width: 80%
	&-usa
		top: 8px
		left: -15px
		&:after
			top: initial
			left: initial
			bottom: -3px
			right: 23px
	&-ukr
		top: 17px
		right: 128px
		&:after
			top: initial
			left: 17px
			bottom: -3px
			right: initial
	&-isr
		bottom: -8px
		right: 133px
		&:after
			top: -3px
			left: 17px
			bottom: initial
			right: initial

.trust
	background-image: url(img/trust-bgc.svg)
	background-position: 0 40%
	&:after
		+af
		+wh(200%)
	&-list
		flex-direction: row
		justify-content: center
	&-item
		flex: 0 0 200px
		margin-bottom: 0
		&:nth-child(2)
			margin: 0 80px

.together
	&-row
		display: flex
		align-items: flex-start
	&-left
		width: 325px
		margin-bottom: 0
		padding-top: 20px
	&-right
		max-width: 500px

.services
	.row
		padding-top: 50px
		align-items: flex-start
	&-list
		width: calc(50% - 15px)
		padding-top: 0
	&-item
		margin-bottom: 30px
		padding: 50px 30px
.power
	img
		width: 300px
		margin-top: 0
		margin-left: 50px

.who
	.right
		margin-left: 50px
		flex-shrink: 0
		flex-grow: 0

.pluses
	padding: 70px 0
	.row
		flex-direction: row
		&:first-child
			margin-bottom: 50px
	.col
		flex: 0 0 calc(50% - 10px)
	&-img
		margin-top: 0
		display: flex
		justify-content: center
		order: initial
.locations
	padding: 30px 0
	.left
		.col,.locations-title
			position: sticky
			top: 100px
		.col
			top: 130px
			flex-direction: column
			align-items: flex-start
	.right
		padding: 0
	.row
		align-items: stretch
	&-item
		padding: 37px 53px
		.subtitle
			font-size: 24px
	.middle
		width: 1px
		margin: 0 30px
		flex-shrink: 0
		flex-grow: 0
		background-color: rgba(#A9D3F5,.3)

.cloud
	&-items
		padding: 50px 0
	&-item
		padding: 37px 52px
.contact
	&-inner
		padding-top: 50px
		align-items: flex-start
	.right
		margin-top: 0
		margin-left: 20px

.foot
	padding: 70px 0 57px
	&-section
		flex-wrap: nowrap
		justify-content: space-between
		position: relative
		&>.col
			&:first-child
				width: initial
	&-logo
		align-self: initial
	.col
		margin-bottom: 0
		flex-shrink: 0
		flex-grow: 0
		&-last
			width: 250px
			justify-content: flex-end
			.col
				&:first-child
					margin-right: 30px
	.link
		margin-bottom: 8px
		&:last-child
			margin-bottom: 0
	&-copy
		width: 200px
		position: absolute
		text-align: right
		bottom: 0
		right: 0



