.section
	+w(960px)

.head
	&-nav,.link
		margin-right: 60px

.welcome
	padding-bottom: 110px
	&-img
		transform: translateY(110px)

.we
	&-left
		width: 640px
		.text
			margin-bottom: 40px
	&-item
		strong
			font-size: 96px

.why
	padding: 170px 0 112px
	background-position: 0 45%
	&-item
		padding-bottom: 125px
		&-title
			margin-top: 25px

.cust
	&-item
		width: calc(100% / 3)
		margin-bottom: 75px
		&:nth-child(4),&:nth-child(5),&:nth-child(6)
			margin-bottom: 30px

.how
	padding-top: 150px
	padding-bottom: 200px
	background-size: 170%
	&-list
		padding-top: 80px
	&-item
		width: 33%
		&-title,.text
			left: 90px

.our
	padding-top: 150px
	&-index
		margin-top: -100px
	&-usa
		top: 127px
		left: -30px
	&-ukr
		top: 118px
		right: 202px
	&-isr
		bottom: 85px
		right: 200px

.trust
	padding: 120px 0 166px
	background-position: 0 42%
	&-list
		padding-top: 80px
		padding-bottom: 60px
	&-item
		margin-bottom: 40px

.services
	.row
		padding-top: 102px
		padding-bottom: 60px
	&-list
		width: calc(50% - 30px)
	&-item
		margin-bottom: 60px
		padding: 75px 80px 65px 88px

.who
	padding: 70px 0
	.right
		margin-left: 107px
	&-logo
		margin-bottom: 40px
	&-item
		margin-bottom: 30px

.pluses
	padding: 100px 0
	.row
		&:first-child
			margin-bottom: 70px
	.col
		flex-basis: calc(50% - 30px)

.locations
	&-item
		padding: 37px 141px 53px 72px

.cloud
	&-items
		padding: 70px 0
	&-item
		padding: 60px 112px 56px 90px
.contact
	&-inner
		padding-top: 70px
.form
	&-block
		input,textarea
			font-size: 16px
.foot
	&-section
		&>.col
			&:nth-child(1)
				margin-right: 75px
			&:nth-child(2)
				margin-right: 100px
	.col
		&-last
			width: initial
	&-copy
		text-align: left








