.section
	+w(960px)

.head
	&-nav
		&,&-item
			margin-right: 60px

.welcome
	padding-bottom: 110px
	&-img
		transform: translateY(110px)

.we
	&-left
		width: 640px
		.text
			margin-bottom: 40px
	&-item
		strong
			font-size: 96px

.why
	padding: 170px 0 112px
	background-position: 0 45%
	&-item
		padding-bottom: 125px
		&-title
			margin-top: 25px

.cust
	&-item
		width: calc(100% / 3)
		margin-bottom: 75px
		&:nth-child(4),&:nth-child(5),&:nth-child(6)
			margin-bottom: 30px




