.section
	h5.subtitle Audience description
	ul.audit-list
		li.audit-item
			include ../../img/audit-bgc-1.svg
			.audit-inner
				.audit-inner-img
					+img('audit-star.png')
				h6.audit-title Title
				span Pain points
				span Desires
				span Solution
				strong Result
				a(href='/contact.html#contact').button-reverse HIRE US
		li.audit-item
			include ../../img/audit-bgc-2.svg
			.audit-inner
				.audit-inner-img
					+img('audit-star.png')
				h6.audit-title Title
				span Pain points
				span Desires
				span Solution
				strong Result
				a(href='/contact.html#contact').button-reverse HIRE US
		li.audit-item
			include ../../img/audit-bgc-3.svg
			.audit-inner
				.audit-inner-img
					+img('audit-star.png')
				h6.audit-title Title
				span Pain points
				span Desires
				span Solution
				strong Result
				a(href='/contact.html#contact').button-reverse HIRE US