.section
	h5.subtitle Cases in numbers
	ul.cases-list
		li.cases-item
			.diagram
				.pieBackground
					.pieField
				.wrapper
					.object
						.round
					.object.rotate
						.round
					.pieSlice1.hold
						.pie
					.pieSlice2.hold
						.pie
				.diagram-inner 75
			.cases-text
				h6 Title
				span.transparent-text Short step description
		li.cases-item
			.diagram
				.pieBackground
					.pieField
				.wrapper
					.object
						.round
					.object.rotate
						.round
					.pieSlice1.hold
						.pie
					.pieSlice2.hold
						.pie
				.diagram-inner 15
			.cases-text
				h6 Title
				span.transparent-text Short step description
		li.cases-item
			.diagram
				.pieBackground
					.pieField
				.wrapper
					.object
						.round
					.object.rotate
						.round
					.pieSlice1.hold
						.pie
					.pieSlice2.hold
						.pie
				.diagram-inner 60
			.cases-text
				h6 Title
				span.transparent-text Short step description
		li.cases-item
			.diagram
				.pieBackground
					.pieField
				.wrapper
					.object
						.round
					.object.rotate
						.round
					.pieSlice1.hold
						.pie
					.pieSlice2.hold
						.pie
				.diagram-inner 90
			.cases-text
				h6 Title
				span.transparent-text Short step description
		li.cases-item
			.diagram
				.pieBackground
					.pieField
				.wrapper
					.object
						.round
					.object.rotate
						.round
					.pieSlice1.hold
						.pie
					.pieSlice2.hold
						.pie
				.diagram-inner 12
			.cases-text
				h6 Title
				span.transparent-text Short step description
		li.cases-item
			.diagram
				.pieBackground
					.pieField
				.wrapper
					.object
						.round
					.object.rotate
						.round
					.pieSlice1.hold
						.pie
					.pieSlice2.hold
						.pie
				.diagram-inner 45
			.cases-text
				h6 Title
				span.transparent-text Short step description