.section
	h5.subtitle Result guarantee
	ul.guarant-list
		li.guarant-item
			.guarant-img
				include ../../img/guarant-dollar.svg
			.guarant-text
				h6 Return of funds
				span.transparent-text A small description of the item, lorem ipsum so to speak
		li.guarant-item
			.guarant-img
				include ../../img/guarant-bell.svg
			.guarant-text
				h6 Milestone Alerts
				span.transparent-text A small description of the item, lorem ipsum so to speak
		li.guarant-item
			.guarant-img
				include ../../img/guarant-case.svg
			.guarant-text
				h6 Closing documents
				span.transparent-text A small description of the item, lorem ipsum so to speak