.section
    h5.subtitle More services
    ul.serv-list
        li.serv-item
            a(href='/services-web&mobile.html').serv-item-title Web and Mobile Applications
            .serv-item-row
                p.serv-item-text.transparent-text We are a web & app development company that turns your ideas into a new driving force of your business. To create a fast and smooth app for any platform, we also deliver products with an outsourcing app development model. This model gives a reasonable solution to control the budget and other resources. Our team connects conventional essential technologies and architecture with the unique logic of the app. Combined with a polished design and UI/UX an app becomes the one that reaches goals of our customers and wins the hearts of users.
                .serv-item-img
                    +img('mobile-app-bgc.png')
            a(href='/contact.html#contact').button HIRE <US></US>
        li.serv-item
            a(href='/services-devops.html').serv-item-title DevOps
            .serv-item-row
                p.serv-item-text.transparent-text We make DevOps adoption easy to allow you to build and deliver software faster. Our DevOps certified experts and solutions help you achieve agile automation and deploy updates that respond to your business needs and development. We at DevCube have developed a unique and highly secure product that allows software engineers to create working environments from dev through testing and staging to production just in 7 minutes, as well as run CI/CD pipelines on their own infrastructure.
                .serv-item-img
                    +img('serv-item-5.svg')
            a(href='/contact.html#contact').button HIRE US
        li.serv-item
            a(href='/services-api.html').serv-item-title API
            .serv-item-row
                p.serv-item-text.transparent-text DevCube has a wealth of experience in API development and integration as well as in related areas like creating complex SaaS solutions, all this together with web and mobile applications. We offer microservices API integration solutions that integrate with your entire operations infrastructure.
                .serv-item-img
                    +img('serv-api.svg')
            a(href='/contact.html#contact').button HIRE US
        li.serv-item
            a(href='/services-eCommerce.html').serv-item-title E-commerce
            .serv-item-row
                p.serv-item-text.transparent-text We build e-commerce websites that meet your goals, attract visitors, increase conversion rate, and generate sales. Shopify, WordPress, or custom e-commerce website — we will develop an engaging eStore that will present your customers with an intuitive and scalable shopping experience. We are experts in the latest cloud-based tools, platforms, and technologies, and we can take your e-commerce business to the next level.
                .serv-item-img
                    +img('serv-item-3.svg')
            a(href='/contact.html#contact').button HIRE US