.section
	.together-row.row
		.together-left
			h2.title Let's work together?
			p.text Your one-stop to develop, integrate, and support your digital solutions ideas.
			a(href='./contact.html#contact').button Hire us
		.together-right
			+img('undraw_happy_announcement_re_tsm0 1.svg')