header.head
  .section.head-section
    .head-logo
      a(href='./')
        +img('header_logo.svg')
    button(data-click-action='front:burgerClick').head-burger
      span
      span
      span
    nav.head-nav
      a(href='./services.html' data-path='services').link Services
      a(href='./products.html' data-path='products').link Our Products
      a(href='./about.html' data-path='about').link About us
      a(href='./careers.html' data-path='careers').link Careers
    a(href='./contact.html#contact').head-button Hire us