%df
	display: flex
%dfa
	@extend %df
	align-items: center
%dfi
	@extend %dfa
	justify-content: space-between
%dfc
	@extend %dfa
	justify-content: center

%tr
	transition: .35s ease


// --==[Шрифты]==--
$f_reg: 'Plus Jakarta Display', sans-serif


// --==[ Цвета ]==--
$black: #000
$white: #fff
$blue: #1F17BF
$blue-dark: #04005E
$gray: #777
$green: #00ff00
$red: #ff0000
$orange-dark: #F05C04
$orange: #F27407