extends template/main
append vars
  -
    page_title = 'Careers'
block content
  main
    section.welcome-bgc.fb
      .section
        .bread-crumbs
          a(href='./') Home /
          span &nbsp;Careers
        .fb-inner
          h1.subtitle Careers
          p.text Your one-stop to develop, integrate, and support your digital solutions ideas.
          a(href='./contact.html#contact').button Hire us
    section.power
      .section.row
        .col
          h3.subtitle Become a part of our team
          p.text We aim to provide full-cycle software solutions with quick product-to-market delivery. With our team spread across the globe, we break through any cultural and linguistic barriers to understand our customers from every part of the world.
        +img('powered-bgc.svg')
    section.locations
      .section.row
        .left
          .locations-title Locations
          .col
            button(data-click-action='front:locationFilter').checkbox-btn.active
              span
                +img('checkbox-inner.svg')
              span All
            button(data-click-action='front:locationFilter' data-location='usa').checkbox-btn
              span
                +img('checkbox-inner.svg')
              span USA
            button(data-click-action='front:locationFilter' data-location='israel').checkbox-btn
              span
                +img('checkbox-inner.svg')
              span Israel
            button(data-click-action='front:locationFilter' data-location='ukraine').checkbox-btn
              span
                +img('checkbox-inner.svg')
              span Ukraine
        .middle
        .right
          .locations-item.usa.ukraine.israel
            h5.subtitle AWS Cloud Architect
            span USA, Israel, Ukraine
            p.text As an AWS Architect, you will be a Subject Matter Expert on diverse and challenging engagements at client sites. You will work with clients to build and architect new solutions, and migrate workloads into AWS. DevCube is looking for talented individuals who are passionate about emerging technologies and excited about the opportunity to work for industry-leading organizations!
            a(href='./careers-inner.html').more More info
            .bgc
              +img('loc-bgc-blue.png')
          .locations-item.ukraine
            h5.subtitle eCommerce Developer
            span Ukraine
            p.text DevCube, a rapidly growing company has an exciting opportunity for an eCommerce Full-Stack Developer. DevCube is searching for highly skilled software engineers to develop front and back-end of Direct-to-Consumer and Business to Business websites, primarily with the Shopify platform and its ecosystem. The ideal candidate has experience in both Shopify and broader, full-stack development, and will craft online storefronts with custom code, build scalable web applications and integrations with our ERP system.
            a(href='./careers-inner.html').more More info
            .bgc
              +img('loc-bgc-green.png')
          .locations-item.ukraine
            h5.subtitle Senior .NET developer
            span Ukraine
            p.text We are looking for .NET Senior to work from home and join our Development team and participate in different projects made up of multicultural teams distributed throughout the world. We are looking for proactive people, team players passionate about programming in this language and oriented to provide the best experience to the end-user. This is an excellent opportunity for those professionals looking to develop in one of the fastest-growing companies in the industry!
            a(href='./careers-inner.html').more More info
            .bgc
              +img('loc-bgc-orange.png')
          .locations-item.ukraine
            h5.subtitle Power BI developer
            span Ukraine
            p.text The Power BI developer first of all should be able to develop charts, grafts and reports in Power BI.
            a(href='./careers-inner.html').more More info
            .bgc
              +img('loc-bgc-blue.png')
          .locations-item.ukraine
            h5.subtitle Back-end Node.js Developer
            span Ukraine
            p.text The project is a data aggregator from many different sources, mainly everything related to IT, for example, GitHub, GitLab, Jira, etc.
            a(href='./careers-inner.html').more More info
            .bgc
              +img('loc-bgc-green.png')
          .locations-item.ukraine
            h5.subtitle QA Engineer
            span Ukraine
            p.text You can be a perfect fit for this position if you have chosen software quality assurance as your career. You may have your first year(s) of experience under the belt or acquired a base of QA techniques and methodologies during your studies. You strive to support your team. You feel comfortable orchestrating work as well as contributing hands-on. You aim to continuously improve your team’s ability to deliver high-quality software efficiently.
            a(href='./careers-inner.html').more More info
            .bgc
              +img('loc-bgc-orange.png')
          .locations-item.ukraine
            h5.subtitle Services Marketing and Business Growth Manager
            span Ukraine
            p.text The candidate will be responsible for supporting and implementing the DevCube Professional Marketing strategy. We are looking for someone to work directly alongside the founders on a day-to-day basis from any place in the world – Remotely. However, the priority will be given to Ukrainian- and Russian-speaking candidates.
            a(href='./careers-inner.html').more More info
            .bgc
              +img('loc-bgc-blue.png')