extends template/main
append vars
  -
    page_title = 'Careers'
block content
  main
    section.fb.cloud
      .section
        .bread-crumbs
          a(href='./') Home /
          a(href='./careers.html') Careers /
          span &nbsp;AWS Cloud Architect
        .fb-inner
          h3.subtitle AWS Cloud Architect
          p.text As an AWS Architect, you will be a Subject Matter Expert on diverse and challenging engagements at client sites. You will work with clients to build and architect new solutions, and migrate workloads into AWS. DevCube is looking for talented individuals who are passionate about emerging technologies and excited about the opportunity to work for industry-leading organizations!
          button.button Apply
    .section.cloud
      .section
        .cloud-lists
          .cloud-lists-item
            h5 Responsibilities:
            ul.cloud-list
              li Implement and manage management, control, and deploy systems on AWS
              li Implement and automate security controls, governance processes, and compliance support
              li Develop and deploy monitoring, metrics, and logging
              li Implement systems that are highly available, scalable, and resilient on the AWS platform
              li Design, manage and maintain tools to automate operational processes
          .cloud-lists-item
            h5 Requirements:
            ul.cloud-list
              li Knowledgeable in AWS networking, security, identity and access management, DNS, etc.
              li Experience with Terraform or cloud-native scripting languages (ARM / CloudFormation / Cloud Deployment Manager)
              li Familiar with a cloud provider’s Command Line Interface (CLI) and know how to invoke APIs in languages such as Python
              li Deep understanding of logging and monitoring and security best practices
              li Experience with disaster recovery tiers and designing for highly available workloads
        .cloud-items
          .cloud-item
            h5.subtitle-mini We want to hear from you
            p.text This is a remote full-time position. In case you believe you are a good fit for this position, please send your CV and cover letter to our HR Manager at&nbsp;
              a(href='mailto:evgeniia.ko@mydevcube.com').link.link-blue evgeniia.ko@mydevcube.com
            button.button Apply
            .bgc
              +img('cloud-item-bgc.png')










