extends template/main
append vars
	-
		page_title= 'Main'
block content
	main
		section.welcome
			.welcome-bgc
				.section.welcome-section
					.welcome-inner
						h1.title Tailor-made software solutions, on-demand
						p.text Your one-stop to develop, integrate, and support your digital solutions ideas.
						button(data-click-action='front:hireUs').button Hire us
					.welcome-img
						+img('main-bgc.svg')
		section.we
			.section.we-section
				.we-left
					h3.subtitle We are DevCube
					p.text Our lean approach allows us to offer very competitive pricing for our development services for entrepreneurs, small or large businesses, and people who have ideas awaiting digital partnership. Today we have over 50 clients in our portfolio, from startups to enterprise companies. We have worked with businesses from a wide scope of spheres, such as Ecommerce, IoT, Manufacturing and Logistics, InsureTech, Healthcare, Blockchain, and beyond.
					.we-img
						+img('we-bgc.jpg')
				ul.we-right
					li.we-item
						strong 200+
						span Projects completed
					li.we-item
						strong 60+
						span Available developers
					li.we-item
						strong 20+
						span Years of experience
		section.why.center
			.section
				h3.subtitle Why you should work with us
				ul.why-list
					li.why-item
						+img('why-item-1.svg')
						.why-item-title On Shore & Off Shore Team
						p.text High quality code, great communication, time zone compatibility, productivity, and self sufficiency - all about us.
					li.why-item
						+img('why-item-2.svg')
						.why-item-title On Demand Expertise
						p.text Do not want to waste your time searching a senior software engineer? DevCube can provide the best onshore talent in 1-2 weeks.
					li.why-item
						+img('why-item-3.svg')
						.why-item-title Deep Bench
						p.text Over 60 of our software professionals can handle even the largest, most complex projects.
					li.why-item
						+img('why-item-4.svg')
						.why-item-title 30 – 50% Less Expensive
						p.text You get professional software development at a significant discount over our competitors thanks to our lean operations and onshore remote model.
		section.cust.center
			.section
				h3.subtitle Our customers
				ul.cust-list
					li.cust-item
						.cust-img
							+img('kennedy-logo.png')
						span Shopify
					li.cust-item
						.cust-img
							+img('kenneth-logo.png')
						span Shopify
					li.cust-item
						.cust-img
							+img('gforwarding-logo.png')
						span Backend & Frontend Drupal
					li.cust-item
						.cust-img
							+img('fran-logo.png')
						span Amazon Web Services PHP MySQL integration with Google Maps integration with Cognito Forms API integration with PowerBI Laravel
					li.cust-item
						.cust-img
							+img('chelseapremium-logo.png')
						span Monthly Maintenance Support (AWS)
					li.cust-item
						.cust-img
							+img('sign_in_logo@e88842097724ca7dec8cf966381894fa 2.png')
						span Amazon Web Services React Native (Mobile app jQuery API PHP Angular JavaScript)
					li.cust-item
						.cust-img
							+img('Cool-Frames-Logo.svg')
						span PHP Laravel Performance Optimization API JavaScript AWS
					li.cust-item
						.cust-img
							+img('puff-logo.png')
						span Database Optimization JavaScript PHP Amazon Web Services DevOps

















