extends template/main
append vars
	-
		page_title= 'Main'
block content
	main
		section.welcome
			.welcome-bgc
				.section.welcome-section
					.welcome-inner
						h1.title Tailor-made software solutions, on-demand
						p.text Your one-stop to develop, integrate, and support your digital solutions ideas.
						button(data-click-action='front:hireUs').button Hire us
					.welcome-img
						+img('main-bgc.svg')
		section.we
			.section.row
				.we-left
					h3.subtitle We are DevCube
					p.text Our lean approach allows us to offer very competitive pricing for our development services for entrepreneurs, small or large businesses, and people who have ideas awaiting digital partnership. Today we have over 50 clients in our portfolio, from startups to enterprise companies. We have worked with businesses from a wide scope of spheres, such as Ecommerce, IoT, Manufacturing and Logistics, InsureTech, Healthcare, Blockchain, and beyond.
					.we-img
						+img('we-bgc.jpg')
				ul.we-right
					li.we-item
						strong 200+
						span Projects completed
					li.we-item
						strong 60+
						span Available developers
					li.we-item
						strong 20+
						span Years of experience
		section.why.center
			.section
				h3.subtitle Why you should work with us
				ul.why-list.row
					li.why-item
						+img('why-item-1.svg')
						.why-item-title On Shore & Off Shore Team
						p.text High quality code, great communication, time zone compatibility, productivity, and self sufficiency - all about us.
					li.why-item
						+img('why-item-2.svg')
						.why-item-title On Demand Expertise
						p.text Do not want to waste your time searching a senior software engineer? DevCube can provide the best onshore talent in 1-2 weeks.
					li.why-item
						+img('why-item-3.svg')
						.why-item-title Deep Bench
						p.text Over 60 of our software professionals can handle even the largest, most complex projects.
					li.why-item
						+img('why-item-4.svg')
						.why-item-title 30 – 50% Less Expensive
						p.text You get professional software development at a significant discount over our competitors thanks to our lean operations and onshore remote model.
		section.cust.center
			.section
				h3.subtitle Our customers
				ul.cust-list.row
					li.cust-item
						.cust-img
							+img('kennedy-logo.png')
						span Shopify
					li.cust-item
						.cust-img
							+img('kenneth-logo.png')
						span Shopify
					li.cust-item
						.cust-img
							+img('gforwarding-logo.png')
						span Backend & Frontend Drupal
					li.cust-item
						.cust-img
							+img('fran-logo.png')
						span Amazon Web Services PHP MySQL integration with Google Maps integration with Cognito Forms API integration with PowerBI Laravel
					li.cust-item
						.cust-img
							+img('chelseapremium-logo.png')
						span Monthly Maintenance Support (AWS)
					li.cust-item
						.cust-img
							+img('sign_in_logo@e88842097724ca7dec8cf966381894fa 2.png')
						span Amazon Web Services React Native (Mobile app jQuery API PHP Angular JavaScript)
					li.cust-item
						.cust-img
							+img('Cool-Frames-Logo.svg')
						span PHP Laravel Performance Optimization API JavaScript AWS
					li.cust-item
						.cust-img
							+img('puff-logo.png')
						span Database Optimization JavaScript PHP Amazon Web Services DevOps
		section.how.center
			.section
				h3.subtitle How we act
				input(type='radio' name='how' checked)#staff
				input(type='radio' name='how')#new
				.how-labels
					button(data-click-action='front:changeHowItem' data-cls='0').active.how-label Staff augmentation
					button(data-click-action='front:changeHowItem' data-cls='1').how-label New project
				.how-row
					ul(style='position:relative;z-index:1;').how-block.how-list.row.active
						li.how-item
							span.how-item-number 1
							h5.how-item-title Contract
							p.text We form demand based, friendly contract
							+img('how-item-bgc.svg')
						li.how-item
							span.how-item-number 2
							h5.how-item-title Your needs
							p.text You tell us your staffing needs
							+img('how-item-bgc.svg')
						li.how-item
							span.how-item-number 3
							h5.how-item-title Best Fits
							p.text We select the “Best Fit” candidates
							+img('how-item-bgc.svg')
						li.how-item
							span.how-item-number 4
							h5.how-item-title Your choice
							p.text You interview and approve each candidate
							+img('how-item-bgc.svg')
						li.how-item
							span.how-item-number 5
							h5.how-item-title Augmentation
							p.text We augment your staff with senior professionals
							+img('how-item-bgc.svg')
						li.how-item
							span.how-item-number 6
							h5.how-item-title Your needs
							p.text Ramp Up or Down based on your needs
							+img('how-item-bgc.svg')
					ul.how-block.how-list.row
						li.how-item
							span.how-item-number 7
							h5.how-item-title Contract
							p.text We form demand based, friendly contract
							+img('how-item-bgc.svg')
						li.how-item
							span.how-item-number 8
							h5.how-item-title Your needs
							p.text You tell us your staffing needs
							+img('how-item-bgc.svg')
						li.how-item
							span.how-item-number 9
							h5.how-item-title Best Fits
							p.text We select the “Best Fit” candidates
							+img('how-item-bgc.svg')
						li.how-item
							span.how-item-number 10
							h5.how-item-title Your choice
							p.text You interview and approve each candidate
							+img('how-item-bgc.svg')
						li.how-item
							span.how-item-number 11
							h5.how-item-title Augmentation
							p.text We augment your staff with senior professionals
							+img('how-item-bgc.svg')
						li.how-item
							span.how-item-number 12
							h5.how-item-title Your needs
							p.text Ramp Up or Down based on your needs
							+img('how-item-bgc.svg')
		section.our.center.our-index
			.section.our-section
				h3.subtitle Our locations
				.our-map
					+img('map.svg')
					.our-usa.our-place
						.our-place-inner.our-usa-inner
							h6.our-place-title United States
							p.text
								strong New Jersey Office
								span 200 Craig Road
								span Manalapan NJ 07726
						+img('USA-bgc.svg')
					.our-ukr.our-place
						.our-place-inner.our-ukr-inner
							h6.our-place-title Ukraine
							p.text
								strong Kiev Office
								span Khreschatyk St, 22
								span 02000
						+img('ukr.svg')
					.our-isr.our-place
						.our-place-inner.our-isr-inner
							h6.our-place-title Israel
							p.text
								strong Rehovot Office
								span Eli Horovitz St 19,
								span 7608802
						+img('isr-bgc.svg')
		section.trust.center
			.section
				h3.subtitle We are trusted by Top Media
				ul.trust-list
					li.trust-item
						+img('upwork.svg')
					li.trust-item
						+img('clutch.svg')
					li.trust-item
						+img('sortlist.svg')
					li.trust-item
						+img('g2.svg')
					li.trust-item
						+img('techreviewer.svg')
					li.trust-item
						+img('goodfirms.svg')
				+img('image 1.jpg')
		section.together
			.section
				.together-row.row
					.together-left
						h2.title Let's work together?
						p.text Your one-stop to develop, integrate, and support your digital solutions ideas.
						button.button Hire us
					.together-right
						+img('undraw_happy_announcement_re_tsm0 1.svg')












