extends template/main
append vars
	-
		page_title = 'Services - Web and Mobile Applications'
block content
	main
		section.fb.green
			.section
				.bread-crumbs
					a(href='./') Home /
					a(href='./services.html') &nbsp;Services /
					span &nbsp;Web and Mobile Applications
				.row
					.fb-inner
						h1.subtitle Web and Mobile Applications
						p.text We are a web & app development company that turns your ideas into a new driving force of your business. To create a fast and smooth app for any platform, we also deliver products with an outsourcing app development model. This model gives a reasonable solution to control the budget and other resources. Our team connects conventional essential technologies and architecture with the unique logic of the app. Combined with a polished design and UI/UX an app becomes the one that reaches goals of our customers and wins the hearts of users.
						a(href='./contact.html#contact').button Hire us
					.fb-img
						+img('mobile-app-bgc.png')
		section.steps
			.section
				h5.subtitle How it works
				ul.steps-list
					li.steps-item
						.steps-text
							h6.steps-title Scope of Work
							span.transparent-text requirements analysis
							span.transparent-text technologies analysis
						+img('step-start.svg')
					li.steps-item
						.steps-text
							h6.steps-title Estimation
							span.transparent-text Effort estimation
							span.transparent-text Time lines and planning
						+img('steps.svg')
					li.steps-item
						.steps-text
							h6.steps-title Proof of concept
							span.transparent-text Product development
							span.transparent-text Stages of development
						+img('steps.svg')
					li.steps-item
						.steps-text
							h6.steps-title Development
							span.transparent-text Dev process and testing
						+img('steps.svg')
					li.steps-item
						.steps-text
							h6.steps-title Production
						+img('steps.svg')
					li.steps-item
						.steps-text
							h6.steps-title Maintanance
						+img('step-end.svg')
		section.audit
			include parts/audit
		section.guarant
			include parts/guarant
		section.cases.mini
			.section
				h6.subtitle Our cases
			.slider
				.section
					button(data-click-action='front:prevCase').slider-button.slider-prev
						+img('slider-arrow-prev.svg')
					button(data-click-action='front:nextCase').slider-button.slider-next
						+img('slider-arrow-next.svg')
					.slider-dots
				.slides
					.slide
						.cases-left
							.cases-date 21.01.2021
							.cases-title INTER INSURANCE
							.cases-desc.transparent-text A small description of the item, lorem ipsum so to speak. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vitae erat dui.
							//a(href='https://www.interinsurance.com' target="_blank").low-link www.INTERINSURANCE.com
						.cases-right
							+img('cases-slide-img.png')
		section.cases.cases-innumbers
			include parts/cases-in-numbers
		section.review
			include parts/reviews
		section.serv
			include parts/services
		section.together
			include parts/together