extends template/main
append vars
	-
		page_title = 'Services - E-commerce'
block content
	main
		section.fb.light-blue
			.section
				.bread-crumbs
					a(href='./') Home /
					a(href='./services.html') &nbsp;Services /
					span &nbsp;E-commerce
				.row
					.fb-inner
						h1.subtitle E-commerce
						p.text We build e-commerce websites that meet your goals, attract visitors, increase conversion rate, and generate sales. Shopify, WordPress, or custom e-commerce website — we will develop an engaging eStore that will present your customers with an intuitive and scalable shopping experience. We are experts in the latest cloud-based tools, platforms, and technologies, and we can take your e-commerce business to the next level
						a(href='./contact.html#contact').button Hire us
					.fb-img
						+img('serv-item-3.svg')
		section.steps
			.section
				h5.subtitle How it works
				ul.steps-list
					li.steps-item
						.steps-text
							h6.steps-title Scope of Work
							span.transparent-text requirements analysis
							span.transparent-text technologies analysis
						+img('step-start.svg')
					li.steps-item
						.steps-text
							h6.steps-title Estimation
							span.transparent-text Effort estimation
							span.transparent-text Time lines and planning
						+img('steps.svg')
					li.steps-item
						.steps-text
							h6.steps-title Proof of concept
							span.transparent-text Product development
							span.transparent-text Stages of development
						+img('steps.svg')
					li.steps-item
						.steps-text
							h6.steps-title Development
							span.transparent-text Dev process and testing
						+img('steps.svg')
					li.steps-item
						.steps-text
							h6.steps-title Production
						+img('steps.svg')
					li.steps-item
						.steps-text
							h6.steps-title Maintanance
						+img('step-end.svg')
		section.audit
			include parts/audit
		section.guarant
			include parts/guarant
		section.cases.mini
			.section
				h6.subtitle Our cases
			.slider
				.section
					button(data-click-action='front:prevCase').slider-button.slider-prev
						+img('slider-arrow-prev.svg')
					button(data-click-action='front:nextCase').slider-button.slider-next
						+img('slider-arrow-next.svg')
					.slider-dots
				.slides
					.slide
						.cases-left
							.cases-date 21.01.2021
							.cases-title INTER INSURANCE
							.cases-desc.transparent-text A small description of the item, lorem ipsum so to speak. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vitae erat dui.
							//a(href='#' target="_blank").low-link www.INTERINSURANCE.com
						.cases-right
							+img('cases-slide-img.png')
		section.cases.cases-innumbers
			include parts/cases-in-numbers
		section.review
			include parts/reviews
		section.serv
			include parts/services
		section.together
			include parts/together