extends template/main
append vars
	-
		page_title = 'Services - DevOps'
block content
	main
		section.fb.light-brown
			.section
				.bread-crumbs
					a(href='./') Home /
					a(href='./services.html') &nbsp;Services /
					span &nbsp;DevOps
				.row
					.fb-inner
						h1.subtitle Services
						p.text We make DevOps adoption easy to allow you to build and deliver software faster. Our DevOps certified experts and solutions help you achieve agile automation and deploy updates that respond to your business needs and development. We at DevCube have developed a unique and highly secure product that allows software engineers to create working environments from dev through testing and staging to production just in 7 minutes, as well as run CI/CD pipelines on their own infrastructure.
						a(href='./contact.html#contact').button Hire us
					.fb-img
						+img('serv-item-5.svg')
		section.steps
			.section
				h5.subtitle How it works
				ul.steps-list
					li.steps-item
						.steps-text
							h6.steps-title Scope of Work
							span.transparent-text requirements analysis
							span.transparent-text technologies analysis
						+img('step-start.svg')
					li.steps-item
						.steps-text
							h6.steps-title Estimation
							span.transparent-text Effort estimation
							span.transparent-text Time lines and planning
						+img('steps.svg')
					li.steps-item
						.steps-text
							h6.steps-title Proof of concept
							span.transparent-text Product development
							span.transparent-text Stages of development
						+img('steps.svg')
					li.steps-item
						.steps-text
							h6.steps-title Development
							span.transparent-text Dev process and testing
						+img('steps.svg')
					li.steps-item
						.steps-text
							h6.steps-title Production
						+img('steps.svg')
					li.steps-item
						.steps-text
							h6.steps-title Maintanance
						+img('step-end.svg')
		section.audit
			include parts/audit
		section.guarant
			include parts/guarant
		section.cases.mini
			.section
				h6.subtitle Our cases
			.slider
				.section
					button(data-click-action='front:prevCase').slider-button.slider-prev
						+img('slider-arrow-prev.svg')
					button(data-click-action='front:nextCase').slider-button.slider-next
						+img('slider-arrow-next.svg')
					.slider-dots
				.slides
					.slide
						.cases-left
							.cases-date May 2020 - Ongoing
							.cases-title Custom Software Dev for Financial Services Agency
							.cases-desc.transparent-text DevCube has developed a data-collecting and data-analyzing software for a financial services agency that allows franchisors to review their franchisee's data and rank. They also developed software for audits.
							//a(href='#').low-link www.INTERINSURANCE.com
						.cases-right
							+img('cases-slide-img.png')
					.slide
						.cases-left
							.cases-date Jan. 2020 - Ongoing
							.cases-title Custom Software Dev for Logistics Company
							.cases-desc.transparent-text DevCube provides custom software development for a logistics company. They have used PHP, WordPress, Java, and SQL Database to hook up to Google Map's API. They have created a rating engine system as well.
							//a(href='#' target="_blank").low-link www.INTERINSURANCE.com
						.cases-right
							+img('cases-slide-img.png')
		section.cases.cases-innumbers
			include parts/cases-in-numbers
		section.review
			include parts/reviews
		section.serv
			include parts/services
		section.together
			include parts/together